layout {
    // tabs
    tab name="editor" {
        editor_pane
    }
    tab name="shell" {
        pane
    }
    shell_tab name="zsh"
    // templates
    tab_template name="shell_tab" {
        pane split_direction="vertical" {
            pane borderless=true command="zsh" name="shell" {
                args "-i"
            }
            pane borderless=true command="zsh" name="shell" {
                args "-i"
            }
        }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    pane_template name="editor_pane" {
        command "nu"
        args "-c" "nu ($env.ZELLIX_PATH + \"/helix.nu\")"
    }
    tab_template name="editor_tab" {
        editor_pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}

