layout {
    // antigravity风格的AI编辑器布局
    tab name="ai dev" focus=true {
        pane split_direction="vertical" {
            
            pane size="50%" {
                editor_pane
            }
            
            pane name="terminal" borderless=true focus=true {
                command "nu"
                args "-c" "nu ($env.ZELLIX_PATH + '/plugins/ai.nu')"
            }
        }
        
    }
    

    tab name="www" {
        pane borderless=true name="www" {
            command "elinks"
            start_suspended true
            args "https://duckduckgo.org"
        }
    }
    
    shell_tab name="shell"
    
    // tab template
    tab_template name="shell_tab" {
        pane split_direction="vertical" {
            pane size="70%" borderless=true command="nu" name="shell" {
                start_suspended true
                args "-c" "nu ($env.ZELLIX_PATH + '/plugins/editor-shell.nu')"
            }
            pane size="30%" name="jobs" {
                pane stacked=true {
                    pane name="run" command="nu" {
                        start_suspended true
                        args "-c" "nu ($env.ZELLIX_PATH + '/plugins/editor-shell.nu') 'just run'"
                    }
                    pane name="test" command="nu" {
                        start_suspended true
                        args "-c" "nu ($env.ZELLIX_PATH + '/plugins/editor-shell.nu') 'just test'"
                    }
                    pane name="build" command="nu" {
                        start_suspended true
                        args "-c" "nu ($env.ZELLIX_PATH + '/plugins/editor-shell.nu') 'just build'"
                    }
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    
    // editor template
    pane_template name="editor_pane" {
        command "nu"
        args "-c" "nu ($env.ZELLIX_PATH + '/helix.nu')"
    }
    
    // default tab
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
